<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<b>DBTEST</b>

{% for index, drink in List %}
<script>
document.write("<h2>")
document.write("{{index}}:{{drink}}")
document.write("</h2>")
</script>
{% endfor %}

    <form method="post">
        {% csrf_token %}
        <div>
            <input type="checkbox" name="answers[]" id="answer1" value="11">
                <label for="answer1"><p>체크박스 테스트</p></label>
            </input>
        </div>

        <div>
            <input type="checkbox" name="answers[]" id="answer2" value="12">
                <label for="answer2"><p>체크박스 테스트</p></label>
            </input>
        </div>

        <button type="submit" name="submitbutton">제출!</button>
    </form>
</body>
</html>